---
---

<!--  <p class="odyssey-logo">TMC Ravels</p>  -->
<img src="../../public/assets/images/tmc/tmclogo.png" alt="tmcravels" class="tmc-logo">

<style>
	.odyssey-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	.tmc-logo {
		width: 80%;
	}
</style>
